<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tpreece101.calsync</string>
    <key>Program</key>
    <string>/usr/local/bin/CalSync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/CalSync</string>
        <string>run</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>StandardOutPath</key>
    <string>/tmp/CalSync_output.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/CalSync_error.log</string>
</dict>
</plist>
